<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
    <!-- static을 추가해줘야됨. public 폴더안에 접근할때는 static경로를 사용하기로 했으니까.-->
    <title>Document</title>
  </head>

  <body>
    <h1>It is a layout</h1>
    {{{body}}}
  </body>

</html>